@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
    .header_top_icon_wrapper
    {
        @apply bg-transparent rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-BrightOrange hover:text-white
    }
    .header_top_icon_wrapper svg {
        @apply w-6 h-6; }
        
    .navbar__link:hover
    {
        color: #F97316;
        transition: all 0.4s;
    }
    .navbar__link::after
    {
        position: absolute;
        content:"";
        background-color: #F97316;
        height: 3px;
        width: 100%;
        bottom: -5px;
        left: 0;
        scale: 0;
        transform-origin: left;
        transition: all 0.4s;
    }
    .navbar__link:hover::after
    {
        scale: 1;
    }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}